<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <style>
        body {
            background-image: linear-gradient(to right, #85ecec, #004aad);
        }

        #price-rate {
            display: flex;
            flex-direction: row;
        }
        #price-rate div {
            background-color: yellow;
            margin: 20px;
            width: 200px;
        }
    </style>
</head>
<body>
    <h3>EquInk: An Intelligent Printing Cost Computation System Based on Color Percentage Detection</h3>
    <div id="price-rate">
        <div>
             <h2>Base Rate: 2 pesos</h2>
        </div>
        <div>
            <h2>Full Colored: 20 pesos</h2>
        </div>
    </div>
<h2>Upload PDF or DOCX</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".pdf,.docx" required>
    <button type="submit">Upload & Analyze</button>
</form>
{% if result %}
<h1>Result: {{ result }}% colored page</h1>
<h1>B&W: {{ blk }}% black page</h1>
<h1>Cost: {{cost}} pesos</h1>
{% endif %}

<h2>Previous Uploads</h2>
{% if history %}
  <table border="1">
    <tr>
      <th>ID</th>
      <th>File Name</th>
      <th>Type</th>
      <th>Color %</th>
      <th>Black %</th>
      <th>Cost</th>
      <th>Uploaded</th>
    </tr>
    {% for row in history %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
      <td>{{ row[5] }}</td>
      <td>{{ row[6] }}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

</body>
</html>
